<div class="ui vertical footer segment">
    <div class="ui center aligned container">
      <div class="ui section divider"></div>
      <img src="<%=baseURL%>/images/logo.png" alt="" class="ui centered mini image">
      <div class="ui horizontal small divided link list">
        <a class="item" href="#">Site Map</a>
        <a class="item" href="#">Contact Us</a>
        <a class="item" href="#">Terms and Conditions</a>
        <a class="item" href="#">Privacy Policy</a>
      </div>
      <p style="color: #555; font-size: 0.5em;">
        Logo made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a><br/>
        SquirrelChat (SqlChat) 2021
      </p>
    </div>
  </div>
  <script type="text/javascript" src="<%=baseURL%>/javascripts/main.min.js"></script>
</body>
</html>
