<body onload="loadGrid()">
  <div class="container my-3">
    <div class="container-md">
      <div class="row">
        <div class="col-sm-8 px-0">
          <table id="game-map"></table>
        </div>
        <div class="col-sm-4">

          <div class="card">
            <ul class="list-group list-group-flush">
              <li class="list-group-item mt-4">
                <p class="text-center mb-2">
                  <button class="btn btn-dark" id="move-up-btn" onclick="moveUp()">⬆️</button>
                </p>
                <p class="text-center">
                  <button class="btn btn-dark" id="move-left-btn" onclick="moveLeft()">⬅️</button>
                  <button class="btn btn-dark" id="move-down-btn" onclick="moveDown()">⬇️</button>
                  <button class="btn btn-dark" id="move-right-btn" onclick="moveRight()">➡️</button>
                </p>
              </li>
              <li class="list-group-item d-grid">
                <p class="fs-5">Actions</p>
                <button class="btn btn-dark mb-1" id="pick-flag-btn" onclick="pickFlag()">🏁</button>
                <button class="btn btn-dark mb-1" id="pick-item-btn" onclick="pickItem()">📦</button>
              </li>
              <li class="list-group-item d-grid">
                <p class="fs-5">Inventory</p>
                <div class="row px-2" id="inventory-container"></div>
              </li>
              <li class="list-group-item d-grid">
                <p class="fs-5">Message</p>
                <p id="message"></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<script>
  let gameMap = undefined

  const TILES = {
    WALL: 0,
    PATH: 1,
    PATH_WITH_FLAG: 2
  }
  const ITEMS = {
    KEY: 0,
    DOOR: 1
  }

  const ITEM_EMOJI_MAP = {
    [ITEMS.KEY]: '🔑',
    [ITEMS.DOOR]: '🚪'
  }

  async function loadGrid() {
    try {
      const r = await fetch('/api/game')
      if (r.status !== 200) throw new Error('cannot fetch game state')
      const { map, state, actions, message } = await r.json()
      _renderMap(map)
      _renderState(state)
      _renderActions(actions)
      _renderMessage(message)
    } catch (err) {
      console.error(err)
      document.location = '/register'
    }
  }
  function moveUp() { return _move(-1, 0) }
  function moveDown() { return _move(1, 0) }
  function moveLeft() { return _move(0, -1) }
  function moveRight() { return _move(0, 1) }
  function pickFlag() { return _action({action: 'pick-flag'})}
  function pickItem() { return _action({action: 'pick-item'})}
  function useItem(index) { return _action({action: 'use-item', index})}

  function _move(dx, dy) { _action({action: 'move', dx, dy}) }

  async function _action(body) {
    try {
      const r = await fetch('/api/game', {
        body: JSON.stringify(body),
        headers: { 'content-type': 'application/json' },
        method: 'POST'
      })
      if (r.status !== 200) {
        alert('Invalid action.')
        return
      }
      const { state, actions, message } = await r.json()
      _renderState(state)
      _renderActions(actions)
      _renderMessage(message)
    } catch (err) {
      console.error(err)
      document.location = '/register'
    }
  }

  function _renderMap (map) {
    gameMap = map
    while (document.getElementById('game-map').rows.length > 0) {
      document.getElementById('game-map').deleteRow(0)
    }
    map.forEach(row => {
      const domRow = document.getElementById('game-map').insertRow()
      row.forEach(cell => {
        const domCell = domRow.insertCell()
        domCell.style.backgroundColor = cell === 0 ? '#333333' : '#ac6238'
        domCell.style.verticalAlign = 'bottom'
        domCell.style.textAlign = 'center'
        domCell.style.width = '36px'
        domCell.style.height = '36px'
      })
    })
  }
  function _renderState (state) {
    // Clear entities from the previous call
    Array.from(document.getElementById('game-map').rows).forEach((domRow, x) => {
      Array.from(domRow.cells).forEach((domCell, y) => {
        domCell.innerText = ''
      })
    })

    // Add entities in the current call
    Array.from(document.getElementById('game-map').rows).forEach((domRow, x) => {
      Array.from(domRow.cells).forEach((domCell, y) => {
        // Where the items locate
        const onMapItem = state.onMapItems.find(item => x === item.x && y === item.y)
        if (onMapItem) domCell.innerText = ITEM_EMOJI_MAP[onMapItem.item]

        // Where the flag stands
        if (gameMap[x][y] === TILES.PATH_WITH_FLAG) domCell.innerText = '🏁'

        // Where the current player stands
        if (x === state.x && y === state.y) domCell.innerText = '👨‍⚕️'
      })
    })

    // Update item usability
    const inventory = document.getElementById('inventory-container')

    while (inventory.firstChild) inventory.removeChild(inventory.firstChild)
    state.inventory.forEach((item, index) => {
      const itemDiv = document.createElement('div')
      itemDiv.className = 'col-6 col-md-4 col-lg-3 col-xl-2 d-grid m-0 p-1'

      const itemButton = document.createElement('button')
      itemButton.className = `btn btn-dark mb-1 _item-button-${item}`
      itemButton.innerText = ITEM_EMOJI_MAP[item]
      itemButton.onclick = () => useItem(index)

      itemDiv.appendChild(itemButton)
      inventory.appendChild(itemDiv)
    })
  }
  function _renderActions (actions) {
    document.getElementById('move-up-btn').disabled = !actions.includes('MOVE_UP')
    document.getElementById('move-down-btn').disabled = !actions.includes('MOVE_DOWN')
    document.getElementById('move-left-btn').disabled = !actions.includes('MOVE_LEFT')
    document.getElementById('move-right-btn').disabled = !actions.includes('MOVE_RIGHT')
    document.getElementById('pick-flag-btn').disabled = !actions.includes('PICK_FLAG')
    document.getElementById('pick-item-btn').disabled = !actions.includes('PICK_ITEM')
    Array.from(document.getElementsByClassName('_item-button-0')).forEach(btn => {
      btn.disabled = !actions.includes('USE_ITEM_0')
    })
  }
  function _renderMessage (message) {
    if (!message) {
      document.getElementById('message').innerHTML = '(...)'
      document.getElementById('message').classList.add('text-center')
      document.getElementById('message').classList.add('text-muted')
    } else {
      document.getElementById('message').innerHTML = message
      document.getElementById('message').classList.remove('text-center')
      document.getElementById('message').classList.remove('text-muted')
    }
  }
</script>

<style>
#game-map {
  border-width: 0;
  margin-left: auto;
  margin-right: auto;
}
</style>