<%- include('components/header'); -%>

<div class="ui main text container">
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h2 class="ui blue image header">
        <div class="content">
          Login
        </div>
      </h2>
      <form class="ui large form" action="?" method="POST">
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="username" placeholder="Username" pattern="[a-zA-Z0-9]+" minlength="6" required>
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" placeholder="Password" minlength="6" required>
            </div>
          </div>
          <button type="submit" class="ui fluid large blue submit button">Login</button>
        </div>  
      </form>
  
      <div class="ui message">
        New to us? <a href="<%=baseURL%>/register">Register</a>
      </div>
    </div>
  </div>
</div>

<%- include('components/footer'); -%>
