
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/minecraftia" type="text/css"/>

  <title>Minecraft Geoguessr</title>
</head>
<body onload="loadRequests()">
  <div class="container">


    <div class="row justify-content-md-center">
      <div class="col-sm-8">

        <div class="card my-3">
          <div class="card-header">Teleport and Take a Screenshot!  </div>
          <div class="card-body">
            <form id="form" onsubmit="submitForm(event, this)">
              <div class="text-center">
                /tp █████████
                <input type="text" placeholder="x" name="x" maxlength="8" size="8">
                <input type="text" placeholder="y" name="y" maxlength="8" size="8">
                <input type="text" placeholder="z" name="z" maxlength="8" size="8">
                <input type="text" placeholder="yaw" name="yaw" maxlength="8" size="8">
                <input type="text" placeholder="pitch" name="pitch" maxlength="8" size="8">
              </div>
              <div class="text-center my-3">
                <input type="hidden" name="hcaptcha" id="h-captcha">
                <div class="h-captcha" data-sitekey="8736afac-e761-4f0e-a325-52a8e2ea4277" data-callback="onCaptchaResponse"></div>
              </div>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="submit">Take a screenshot for me!</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>


    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Position</th>
          <th scope="col">Facing</th>
          <th scope="col">Created at</th>
          <th scope="col">Updated at</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody id="jobs"></tbody>
    </table>
  </div>
</body>

<style>
  body {
    font-family: 'MinecraftiaRegular';
    font-weight: normal;
    font-style: normal;
  }
</style>

<script>
  async function loadRequests () {
    const res = await fetch('/api/jobs')
    const jobs = await res.json()
    while (document.getElementById("jobs").rows.length) {
      document.getElementById("jobs").deleteRow(0)
    }
    jobs.forEach(job => {
      const row = document.getElementById("jobs").insertRow()
      row.insertCell().innerText = job.id
      row.insertCell().innerText = `(${job.x}, ${job.y}, ${job.z})`
      row.insertCell().innerText = `(${job.yaw}º, ${job.pitch}º)`
      row.insertCell().innerText = job.createdAt
      row.insertCell().innerText = job.updatedAt
      const u = row.insertCell()
      if (job.status === 'Done') {
        u.innerHTML = `<a href="/api/jobs/${job.id}">Done</a>`
      } else {
        u.innerText = job.status
      }
    })

    if (jobs.find(job => job.status === 'Processing')) {
      // If there are pending requests, reload every 5 seconds
      setTimeout(loadRequests, 5000)
    } else if (jobs.find(job => job.status.startsWith('Queuing'))) {
      // If there are pending requests, reload every 15 seconds
      setTimeout(loadRequests, 15000)
    }
  }
  async function submitForm(event, form) {
    event.preventDefault()
    try {
      // Work on proof-of-work

      const res = await fetch('/api/jobs', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          x: form.x.value,
          y: form.y.value,
          z: form.z.value,
          yaw: form.yaw.value,
          pitch: form.pitch.value,
          captchaResponse: form.hcaptcha.value
        })
      })
      if (res.status === 201) {
        window.location.reload()
      } else {
        const resJson = await res.json()
        if (resJson.error) {
          alert(resJson.error)
        } else {
          alert(resJson.errors.map(err => err.msg).join("\n"))
        }
      } 
    } catch (err) {
      console.error(err)
    }
  }

  function onCaptchaResponse(value) {
    document.getElementById('h-captcha').value = value
  }
</script>
<script src="https://js.hcaptcha.com/1/api.js" async defer></script>
