input, textarea {
    font-family: Consolas, Monaco, Courier, monospace !important;
}
pre {
    background: #f8f4f4;
    padding: 8px;
}
#output-spinner {
    display: flex;
    align-items: center;
    flex-direction: column;
}